---
import Layout from "@/layouts/Layout.astro";
import SideMenu from "./components/SideMenu.astro";
import Hero from "./components/Hero.astro";
import Banner from "./components/Banner.astro";
---

<Layout title="Rohan - Plantilla Personalizable" description="">
  <div class="flex">
    <SideMenu />
    <main class="flex-1 overflow-y-auto text-white">
      <Hero />
      <Banner />
    </main>
  </div>
</Layout>
