---
import SquareBanner from "@/components/ui/SquareBanner.astro";
import BannerImage1 from "@public/images/templates/rohan/banner-1.jpg";
---

<section class="w-full flex items-center justify-around px-6 py-12">
  <SquareBanner href="#" image={BannerImage1}>
    <span
      >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem, quasi.</span
    >
  </SquareBanner>
  <SquareBanner href="#" image={BannerImage1}>
    <span
      >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, velit.</span
    >
  </SquareBanner>
</section>
