---
import background from "@public/images/templates/rohan/hero-background.jpeg"
---
<section 
  style=`background-image: url(${background.src})`
  class="w-full h-screen bg-no-repeat bg-cover bg-center relative"
>
  <span class="w-full h-full absolute bg-green-950 opacity-40 top-0 left-0"></span>
  
</section>
