---

---

<header
  class="h-screen sticky top-0 bg-white flex flex-col justify-between text-green-900"
>
  <span class="text-center uppercase text-4xl mb-12 px-6 pt-4">Rohan</span>

  <nav class="flex flex-col text-xl capitalize gap-1 grow px-6">
    <a href="#">Inicio</a>
    <a href="#">Bazar</a>
    <a href="#">Oficina</a>
    <a href="#">Dormitorio</a>
    <a href="#">Living</a>
    <a href="#">Contacto</a>
  </nav>

  <nav class="grid grid-cols-2 uppercase gap-x-12 gap-y-4 text-xs mb-6 px-6">
    <a href="#">instagram</a>
    <a href="#">facebook</a>
    <a href="#">youtube</a>
    <a href="#">tiktok</a>
    <a href="#">twitter</a>
    <a href="#">pinterest</a>
  </nav>

  <div
    class="flex justify-between bg-gray-300 px-6 py-4 rounded-tr-xl text-green-600"
  >
    <a href="#">crear cuenta</a>
    <a href="#">ingresar</a>
  </div>
</header>
