---
import Logo from "@/svg/Logo.astro"

import type { I18N } from "@/i18n/i18n"
interface Props {
  i18n: I18N
}
const { i18n } = Astro.props
const header = i18n.HEADER
---
<header class="absolute top-0 left-0 w-full py-4 z-10">
  <div class="container flex items-center justify-between px-10">
    <span class="flex gap-4 items-center uppercase font-semibold text-3xl">
      <Logo class="w-8 h-8" />
      <h1 class="text-white">su<strong class="text-pink-600">ads</strong></h1>
    </span>
    
    <label for="hamburger" class="cursor-pointer">
      <input type="checkbox" id="hamburger" class="hidden">
      <span class="block bg-white h-1 w-8 rounded-full my-2"></span>
      <span class="block bg-white h-1 w-8 rounded-full my-2"></span>
      <span class="block bg-white h-1 w-8 rounded-full my-2"></span>
    </label>

    <nav class="hidden md:flex gap-4 text-white text-lg">
      <a href="/">{header.HOME}</a>
      <a href="/services">{header.SERVICES}</a>
      <a href="/about">{header.ABOUT}</a>
      <a href="/contact">{header.CONTACT}</a>
    </nav>
  </div>
</header>

<style>

</style>