<!-- Header -->
<section
  class="bg-image bg-fixed bg-cover bg-center bg-no-repeat flex items-center justify-center h-screen w-full"
>
  <span
    class="absolute bg-blue-950 top-0 left-0 w-full h-screen bg-opacity-80 z-0"
  ></span>
  <header class="text-center text-white text-balance z-10">
    <!-- Header Content -->

    <h2 class="text-6xl font-semibold mx-auto mb-10">
      Mejora los resultados de tus<br />campañas con <strong
        class="text-pink-600">IA predictiva</strong
      >
    </h2>
    <p class="text-xl">
      Entiende cómo reacciona tu audiencia y predice el impacto de tus <br />
      contenidos <strong>para conseguir mejores resultados</strong>
    </p>
    <a
      href="#"
      class="inline-block mt-10 bg-pink-600 px-12 py-3 rounded-full font-semibold text-lg shadow-md shadow-pink-400"
      >Crea tu cuenta gratis</a
    >
  </header>
</section>

<style>
  .bg-image {
    background-image: url("/background.jpg");
  }
</style>
