<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agencia Suads - Marketing | Publicidad | Desarrolo Web</title>
    
    <!-- Facebook Pixel Code -->
    <noscript>
      <img height="1" width="1" style="display:none" 
          src="https://www.facebook.com/tr?id=7044627715649477&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>
<body>
    <main>
        <slot />
    </main>
</body>
</html>