<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agencia Suads - Marketing | Publicidad | Desarrolo Web</title>

    <!-- Facebook Pixel Code -->
    <noscript>
      <img src="https://www.facebook.com/tr?id=7044627715649477
  &ev=ViewContent
  &cd[content_name]=ABC%20Leather%20Sandal
  &cd[content_category]=Shoes
  &cd[content_type]=product
  &cd[content_ids]=1234
  &cd[value]=0.50
  &cd[currency]=USD" height="1" width="1" style="display:none"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>
<body>
    <main>
        <slot />
    </main>
</body>
</html>